:root {
 /*** COLOR PALETTE */
    --alabaster: #E0E3D8ff;
    --cadet-gray: #969D9Fff;
    --ash-gray: #A7B4B5ff;
    --english-violet: #483948ff;
    --khaki: #CCB69Fff;
  /*  --dark-text: #2C3E5A;*/
    --dark-text: #686D75;
    /* --dark-text: #57504d;*/ 
  /*  --accent-blue:#A6BFC0;*/
    --accent-blue: #2E3E59;
  /*  --accent-blue: #DFAF89;*/
}
/** font family css 
font-family: 'Amaranth', sans-serif;
font-family: 'Open Sans', sans-serif;
*/


/*** DOCUMENT DEFAULTS fall back font sizes*/
html {
    font-size: 100%;
}
/*** larger screens and desktops */
@media only screen and (max-width: 1200px){

}
/*** laptops */
@media only screen and (max-width: 992px){
   
}
/*** tablets */
@media only screen and (max-width: 768px){
 .card {
   width: 100%;
 }
}
/*** small phones */
@media only screen and (max-width: 600px){
  .navigation li a {
    font-size: 100px;
  }
}
/*** sections to scale with document */

header {
    background-color: var(--english-violet);
    font-family: 'Amaranth', sans-serif;
    color: var(--alabaster);
}
footer {
    background-color: var(--english-violet);
    color: var(--alabaster);
    font-size: .75rem;
    width: 100%;
    text-align: center;
    padding: 40px 10px;
}
body {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-text);
}
/*** Fonts to scale within sections */
h1 {
    font-size: 3em;
    font-family: 'Amaranth', sans-serif; 
 /*   font-family: 'Open Sans', sans-serif; */
    letter-spacing: .5px;
    color: var(--english-violet);
}
h2 {
    font-size: 2.5em;
    font-family: 'Amaranth', sans-serif;
    color: var(--cadet-gray);
}
h3 {
    font-size: 1.5em;
    font-family: 'Amaranth', sans-serif;
    color: var(--english-violet);
    margin-bottom: 5px;
}
h4 {
    font-size: 2em;
    font-family: 'Amaranth', sans-serif;
    color: var(--alabaster);
    margin-bottom: 20px;
}        
a {
    color: var(--accent-blue);
    font-weight: 600;
    font-size: 1em;
    display: inline-flex;
}
p {
    font-size: 1em;
    line-height: 1.1;
}

/*** css classes - main components*/
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}
.navigation li a {
    color: var(--alabaster);
    text-decoration: none;
    padding: 20px 20px; 
    font-size: 20px;
}
.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

aside {
    text-align: end;
    padding: 20px;
    border-right: 4px solid var(--cadet-gray);
    align-items: flex-start;
    justify-content: flex-end;
    width: 15%;
}

.main-section {
    display: flex;
    flex-direction: row;    
    padding: 20px;

}
/*** css classes - section details*/
.hero {
    background-image: url(./exploration.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    position:relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hero-title {
    position: absolute;
    top: 5%;
    width: 100%;  
}
hr.hero-hr {
    border: 0;
    border-top: 3px solid var(--english-violet);
    width: 20%;
    margin: auto;
    margin-top: 10px;
}
.content {
    width: 85%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
/**  CARD CSS  ***/

.featured-card {
    background-image: url(./buildersbuddy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position:relative;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 5px 10px var(--ash-gray);
}
.featured-small-text {
    font-variant: small-caps;
    font-size: .75em;
}
.card-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.card {
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-top: 30px;
    position: relative;
    box-shadow: 3px 5px 10px var(--ash-gray);
}
.card-title {
    background-color: rgba(224, 227, 216, .8);
    padding:10px;
    text-align: right;
    width: 50%;
    position: absolute;
    bottom:10%;
    color: var(--english-violet);
}
.card-subtitle {
    padding-bottom: 10px;
}
.card-title a::after {
    content: url(./new-right-arrow-sm.png);
    align-content: center;
    padding-left: 5px;
}
.featured-title {
        width: 30%;
    }

#one {
    background-image: url(./comingsoon.png);
}
#two {
    background-image: url(./comingsoon.png);
}
#three {
    background-image: url(./comingsoon.png);
}
#four {
    background-image: url(./comingsoon.png);
}
#five {
    background-image: url(./comingsoon.png);
}
#six {
    background-image: url(./jscalculator.jpg);
}
#seven {
    background-image: url(./cards1.jpg);
}
#eight {
    background-image: url(./comingsoon.png);
}
/***** MISC CSS  ****/

.attribution {
    width: 100%;
    justify-content: right;
    color: var(--alabaster);
}